# Build the Docker Container only from built code and not source-code

# Ignore git structure
.git/
.gitignore
.gitattributes

# Ignore dotfiles
.bowerrc
.editorconfig
.eslintrc.json
.travis.yml
.idea/
.env.example

# Ignore build scripts
gulpfile.js
Vagrantfile

# Ignore other unnecessary (for the container) files
bower.json
package.json
composer.phar
TODO
