# Vendor modules (NPM, Bower etc.)
node_modules/
public/components/
vendor/
!resources/views/vendor/

# Public files, compiled from resources
public/storage
public/css/
public/js/
public/sw.js

# Homestead
Homestead.yaml
Homestead.json

# Ignore private files
.env
.env.staging
storage/oauth-private.key
storage/oauth-public.key

# Local Composer
composer.phar

# Ignore log files:
/npm-debug.log

# Ignore Docker
docker/mysql/storage
docker/redis/storage
