# Vendor modules (NPM, Bower etc.)
node_modules/
public/components/
vendor/

# Public files, compiled from resources
public/storage/
public/css/
public/js/

# Homestead
Homestead.yaml
Homestead.json

# Ignore private config files
.env

# Local Composer
composer.phar

# Ignore log files:
/npm-debug.log
