// Website colors
$bg_color: #ebebeb;
$header_md_bg_color: #cccccc;
$primary_green: #2bb673;
$text_color: #373737;

// eHOSP logo colors
$cloud_inner: #8ad5e4;
$cloud_border: #0f75bc;
$circle_inner: #2bb673;
$circle_border: #076b3c;
$text_inner: #2bb673;

// Dashboard colors
$dashboard_color1: #3F4F71;
$dashboard_color2: #D9E4FD;
$dashboard_color3: #86A7F1;
$dashboard_color4: #616671;
$dashboard_color5: #6A84BE;
