<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>

    <httpProtocol>
        <customHeaders>
            <remove name="X-Powered-By" />
            <remove name="Server" />
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="X-XSS-Protection" value="1; mode=block" />
            <add name="x-frame-options" value="SAMEORIGIN" />
            <add name="Content-Security-Policy" value="default-src 'self' cdnjs.cloudflare.com npmcdn.com *.tile.osm.org" />
            <add name="strict-transport-security" value="max-age=31536000; includeSubdomains" />
        </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
