.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #cccccc;
}

footer {
    display: block;
}

footer ul {
    padding-left: 0px;
}

#footer_parent {
    background-color: #cccccc;
    text-align: left;
    padding-left: 10%;
    position: static;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

#footer_parent:before, #footer_parent:after {
  content: " ";
  display: table;
}

#footer_parent:after {
  clear: both;
}

#footer_parent h6 {
    margin-top: 20px;
    font-weight: bold;
}

#footer_parent a {
    box-shadow: none;
    color: black;
}

#footer_parent a:hover {
    background: none;
    color: #0078a0;
}

#ehosp, #connect, #col1, #col2 {
    width: 50%;
    float: left;
}

/************************Mobile Viewport***************************************/
@media only screen and (max-width: 500px) {
    #ehosp, #connect {
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    #col1, #col2 {
        width: 100%;
    }
}


/***************************** Mobile-view ************************************/

@media only screen and (max-width: 767px) {
    .footer {
        height: auto;
    }

    footer ul:last-child {
        margin-bottom: 0px;
    }
}
