@media only screen and (max-width: 768px) {
    body {
        margin-bottom: 800px;
    }

    .navbar-default {
        border-color: transparent;;
    }

    #navbar-mobile-only {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 70%;

        background-color: #2bb673;
        z-index: 999;
    }
}

@media only screen and (max-width: 992px) {
    a.services {
        height: 90px;
    }

    .navbar-default .navbar-nav li a {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media only screen and (max-width: 500px) {
    a.services {
        height: auto;
    }

    h1 {
        word-wrap: break-word;
    }

    #smart-assistance-menu {
        width: calc(100% - 50px);
    }
}

@media only screen and (max-width: 300px) {
    body {
        margin-bottom: 1000px;
    }
}
