section {
    margin-bottom: 60px;
    padding: 30px;
    background-color: #ebebeb;
}
section:last-child {
    margin-bottom: 0;
}

div {
    margin-bottom: 10px;
}

/* form elements */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], select {
    background-color: white;
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}

input[type="submit"] {
    background-color: #2bb673;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 15px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 50%;

}

input[type="submit"]:hover {
	color: #fff;
	background: #8ad5e4;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* lists */
ul.input-list {
    display: block;
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}
ul.input-list li {
    display: block;
    padding: 0 10px;
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

@media all and (max-width: 800px) {
    ul.input-list {
        margin: 0;
    }

    ul.input-list li {
        padding: 0;
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}


/* ============================================================
  STYLE 1
============================================================ */
.style-1 input[type="text"], .style-1 input[type="password"], .style-1 input[type="email"], .style-1 input[type="number"], .style-1 select {
    padding: 10px;
    border: solid 1px gainsboro;
    -webkit-transition: box-shadow 0.3s, border 0.3s;
    -moz-transition: box-shadow 0.3s, border 0.3s;
    -o-transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus, .style-1 input[type="number"]:focus, .style-1 input[type="number"].focus, .style-1 input[type="password"]:focus, .style-1 input[type="password"].focus, .style-1 input[type="email"]:focus, .style-1 input[type="email"].focus, .style-1 select:focus, .style-1 select.focus {
    border: solid 1px #707070;
    -webkit-box-shadow: 0 0 5px 1px #969696;
    -moz-box-shadow: 0 0 5px 1px #969696;
    box-shadow: 0 0 5px 1px #969696;
}
