#edit_map {
	width: 90%;
	margin-left: 5%;
}

#edit_map ul {
	margin-left: 0;
}

#edit_map li {
	display: inline;
}

#edit_map button {
		width: 33%;
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 10px;
		padding-right: 10px;
		height: 92px;
}


@media only screen and (max-width: 40.063em) {
	#edit_map li {
		display: block;
		width: 100%;
	}

	#edit_map button {
		width: 100%;
	}
}